<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HCP Organizer</title>
</head>
<body>
<div>
    <p>This is the HomePage!</p>
    <button type="submit" action="get_all_HCP" method="GET" class="btn btn-primary" >
        Go To Patient
    </button>
    <button type="button" class="btn btn-secondary" >
        Go To Doctor
    </button>
    <button type="button" class="btn btn-secondary" >
        Go To Admin
    </button>
</div>
<table action="get_all_HCP" method="GET">
    <tr th:each="HCP : ${HCP}">
        <td th:text="HCP.hcp_id"></td>
    </tr>
</table>
<!--<form action="HCP/all" method="GET">-->

<!--&lt;!&ndash;    <input type="text" name="studentName"&ndash;&gt;-->
<!--&lt;!&ndash;           placeholder="What's your name?" />&ndash;&gt;-->

<!--    <input type="submit" />-->

<!--</form>-->

<link href="//netdna.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" />
</body>
</html>